<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<context:component-scan base-package="com.sixfam.withpet.controller" />
	
	<!-- Annotation AOP -->
	<aop:aspectj-autoproxy />
	
	<!-- Annotation : SpringMVC  -->
	<mvc:annotation-driven/>
	
	<!-- Annotation 기반 spring security를 사용하기 위한 설정 -->
	<!-- @Secure 어노테이션을 사용하기 위해 -->
	<security:global-method-security	secured-annotations="enabled" />
	
	<!-- ViewResolver -->
	<bean id="viewResolver" 
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
		<property name="order" value="2" />
	</bean>
	
	<!-- Tiles Framework -->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-*.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- TilesViewResolver -->
	<bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
		<property name="order" value="0" />
	</bean> 
	
	<!-- 멀티파트 리졸버 -->
	<bean id="filterMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	   <property name="defaultEncoding" value="utf-8"/>
	</bean>
	
	<!-- 파일 다운로드를 위한 설정 -->
	<!-- 클래스 설정해줘야 함 -->
	<bean name="downloadView" class="com.sixfam.withpet.download.DownloadView"/>
	
	<!-- 파일 다운로드 서비스를 위해 ViewResolver를 추가한다 -->
	<bean id="beanNameViewResolver" 
	class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1"/>
	</bean>
</beans>

























